---
http_interactions:
- request:
    method: get
    uri: https://gdata.youtube.com/feeds/api/videos?alt=json&max-results=25&orderby=relevance&q=education&safeSearch=strict&start-index=1&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdata-User-Country:
      - US
      Content-Type:
      - application/json; charset=UTF-8
      Gdata-Version:
      - '2.1'
      Etag:
      - W/"D0AHSHs-fCp7I2A9Wh5VEEw."
      Last-Modified:
      - Mon, 02 Dec 2013 20:22:19 GMT
    body:
      encoding: UTF-8
      string: '{"version":"1.0","encoding":"UTF-8","feed":{"xmlns$app":"http://www.w3.org/2007/app","xmlns":"http://www.w3.org/2005/Atom","xmlns$media":"http://search.yahoo.com/mrss/","xmlns$openSearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns$gd":"http://schemas.google.com/g/2005","xmlns$gml":"http://www.opengis.net/gml","xmlns$yt":"http://gdata.youtube.com/schemas/2007","xmlns$georss":"http://www.georss.org/georss","gd$etag":"W/\"D0AHSHs-fCp7I2A9Wh5VEEw.\"","id":{"$t":"tag:youtube.com,2008:videos"},"updated":{"$t":"2013-12-02T20:22:19.554Z"},"category":[{"scheme":"http://schemas.google.com/g/2005#kind","term":"http://gdata.youtube.com/schemas/2007#video"}],"title":{"$t":"Videos
        matching: education"},"logo":{"$t":"http://www.gstatic.com/youtube/img/logo.png"},"link":[{"rel":"alternate","type":"text/html","href":"https://www.youtube.com"},{"rel":"http://schemas.google.com/g/2005#feed","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/videos?v=2"},{"rel":"http://schemas.google.com/g/2005#batch","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/videos/batch?v=2"},{"rel":"self","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/videos?alt=json&q=education&start-index=1&max-results=25&orderby=relevance&safeSearch=strict&v=2"},{"rel":"service","type":"application/atomsvc+xml","href":"https://gdata.youtube.com/feeds/api/videos?alt=atom-service&v=2"},{"rel":"next","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/videos?alt=json&q=education&start-index=26&max-results=25&orderby=relevance&safeSearch=strict&v=2"}],"author":[{"name":{"$t":"YouTube"},"uri":{"$t":"http://www.youtube.com/"}}],"generator":{"$t":"YouTube
        data API","version":"2.1","uri":"http://gdata.youtube.com"},"openSearch$totalResults":{"$t":1000000},"openSearch$startIndex":{"$t":1},"openSearch$itemsPerPage":{"$t":25},"entry":[{"gd$etag":"W/\"AkYHRX47eCp7I2A9Wh5WGUs.\"","id":{"$t":"tag:youtube.com,2008:video:y_ZmM7zPLyI"},"published":{"$t":"2012-12-02T11:59:13.000Z"},"updated":{"$t":"2013-12-02T07:08:54.000Z"},"category":[{"scheme":"http://schemas.google.com/g/2005#kind","term":"http://gdata.youtube.com/schemas/2007#video"},{"scheme":"http://gdata.youtube.com/schemas/2007/categories.cat","term":"Education","label":"Education"}],"title":{"$t":"Why
        I Hate School But Love Education||Spoken Word"},"content":{"type":"application/x-shockwave-flash","src":"https://www.youtube.com/v/y_ZmM7zPLyI?version=3&f=videos&app=youtube_gdata"},"link":[{"rel":"alternate","type":"text/html","href":"https://www.youtube.com/watch?v=y_ZmM7zPLyI&feature=youtube_gdata"},{"rel":"http://gdata.youtube.com/schemas/2007#video.related","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/videos/y_ZmM7zPLyI/related?v=2"},{"rel":"http://gdata.youtube.com/schemas/2007#mobile","type":"text/html","href":"https://m.youtube.com/details?v=y_ZmM7zPLyI"},{"rel":"http://gdata.youtube.com/schemas/2007#uploader","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/users/4zccsgn1Nys_sIcOYd2fTw?v=2"},{"rel":"self","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/videos/y_ZmM7zPLyI?v=2"}],"author":[{"name":{"$t":"sulibreezy"},"uri":{"$t":"https://gdata.youtube.com/feeds/api/users/sulibreezy"},"yt$userId":{"$t":"4zccsgn1Nys_sIcOYd2fTw"}}],"yt$accessControl":[{"action":"comment","permission":"allowed"},{"action":"commentVote","permission":"allowed"},{"action":"videoRespond","permission":"moderated"},{"action":"rate","permission":"allowed"},{"action":"embed","permission":"allowed"},{"action":"list","permission":"allowed"},{"action":"autoPlay","permission":"allowed"},{"action":"syndicate","permission":"allowed"}],"gd$comments":{"gd$feedLink":{"rel":"http://gdata.youtube.com/schemas/2007#comments","href":"https://gdata.youtube.com/feeds/api/videos/y_ZmM7zPLyI/comments?v=2","countHint":17837}},"yt$hd":{},"media$group":{"media$category":[{"$t":"Education","label":"Education","scheme":"http://gdata.youtube.com/schemas/2007/categories.cat"}],"media$content":[{"url":"https://www.youtube.com/v/y_ZmM7zPLyI?version=3&f=videos&app=youtube_gdata","type":"application/x-shockwave-flash","medium":"video","isDefault":"true","expression":"full","duration":368,"yt$format":5},{"url":"rtsp://r5---sn-a5m7zu7l.c.youtube.com/CiILENy73wIaGQkiL8-8M2b2yxMYDSANFEgGUgZ2aWRlb3MM/0/0/0/video.3gp","type":"video/3gpp","medium":"video","expression":"full","duration":368,"yt$format":1},{"url":"rtsp://r5---sn-a5m7zu7l.c.youtube.com/CiILENy73wIaGQkiL8-8M2b2yxMYESARFEgGUgZ2aWRlb3MM/0/0/0/video.3gp","type":"video/3gpp","medium":"video","expression":"full","duration":368,"yt$format":6}],"media$credit":[{"$t":"sulibreezy","role":"uploader","scheme":"urn:youtube","yt$display":"sulibreezy","yt$type":"partner"}],"media$description":{"$t":"The
        Latest Spoken Word Video from Suli Breaks. PURCHASE ON ITUNES: http://goo.gl/ZhqVl
        SUBSCRIBE: http://goo.gl/6mf0j TWITTER: http://www.twitter.com/sulibre...","type":"plain"},"media$keywords":{},"media$license":{"$t":"youtube","type":"text/html","href":"http://www.youtube.com/t/terms"},"media$player":{"url":"https://www.youtube.com/watch?v=y_ZmM7zPLyI&feature=youtube_gdata_player"},"media$thumbnail":[{"url":"https://i.ytimg.com/vi/y_ZmM7zPLyI/default.jpg","height":90,"width":120,"time":"00:03:04","yt$name":"default"},{"url":"https://i.ytimg.com/vi/y_ZmM7zPLyI/mqdefault.jpg","height":180,"width":320,"yt$name":"mqdefault"},{"url":"https://i.ytimg.com/vi/y_ZmM7zPLyI/hqdefault.jpg","height":360,"width":480,"yt$name":"hqdefault"},{"url":"https://i.ytimg.com/vi/y_ZmM7zPLyI/sddefault.jpg","height":480,"width":640,"yt$name":"sddefault"},{"url":"https://i.ytimg.com/vi/y_ZmM7zPLyI/1.jpg","height":90,"width":120,"time":"00:01:32","yt$name":"start"},{"url":"https://i.ytimg.com/vi/y_ZmM7zPLyI/2.jpg","height":90,"width":120,"time":"00:03:04","yt$name":"middle"},{"url":"https://i.ytimg.com/vi/y_ZmM7zPLyI/3.jpg","height":90,"width":120,"time":"00:04:36","yt$name":"end"}],"media$title":{"$t":"Why
        I Hate School But Love Education||Spoken Word","type":"plain"},"yt$aspectRatio":{"$t":"widescreen"},"yt$duration":{"seconds":"368"},"yt$uploaded":{"$t":"2012-12-02T11:59:13.000Z"},"yt$uploaderId":{"$t":"UC4zccsgn1Nys_sIcOYd2fTw"},"yt$videoid":{"$t":"y_ZmM7zPLyI"}},"gd$rating":{"average":4.856632,"max":5,"min":1,"numRaters":105519,"rel":"http://schemas.google.com/g/2005#overall"},"yt$statistics":{"favoriteCount":"0","viewCount":"4228173"},"yt$rating":{"numDislikes":"3782","numLikes":"101737"}},{"gd$etag":"W/\"DkYNRX47eCp7I2A9Wh5WF08.\"","id":{"$t":"tag:youtube.com,2008:video:zDZFcDGpL4U"},"published":{"$t":"2010-10-14T10:56:32.000Z"},"updated":{"$t":"2013-11-29T11:23:14.000Z"},"category":[{"scheme":"http://schemas.google.com/g/2005#kind","term":"http://gdata.youtube.com/schemas/2007#video"},{"scheme":"http://gdata.youtube.com/schemas/2007/categories.cat","term":"News","label":"News
        & Politics"}],"title":{"$t":"RSA Animate - Changing Education Paradigms"},"content":{[...]
