---
http_interactions:
- request:
    method: get
    uri: https://www.khanacademy.org/api/v1/topic/programming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ka-Api-Response:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"icon_src": "", "domain_slug": null, "relative_url": "/cs/programming",
        "web_url": "", "ka_url": "http://www.khanacademy.org/cs/programming", "translated_standalone_title":
        "Drawing and animation programming", "translated_title": "Drawing and animation",
        "gplus_url": "", "id": "x05187c3c", "old_key_name": null, "hide": false, "title":
        "Drawing and animation", "child_data": [{"kind": "Topic", "id": "x8edeb601"},
        {"kind": "Topic", "id": "xf53d7aa7"}, {"kind": "Topic", "id": "x8686923b"},
        {"kind": "Topic", "id": "x3312fbc8"}, {"kind": "Topic", "id": "xb0180d93"},
        {"kind": "Topic", "id": "xc4ab8747"}, {"kind": "Topic", "id": "x7323ca45"},
        {"kind": "Topic", "id": "x2f8e35eb"}, {"kind": "Topic", "id": "x54f8c602"},
        {"kind": "Topic", "id": "x611e8e74"}, {"kind": "Topic", "id": "x8d3377f2"}],
        "children": [{"kind": "Topic", "hide": false, "internal_id": "x8edeb601",
        "title": "Intro to programming", "url": "http://www.khanacademy.org/cs/programming/intro-to-programming",
        "node_slug": "intro-to-programming", "edit_slug": "", "key": "ag5zfmtoYW4tYWNhZGVteXIUCxIFVG9waWMiCXg4ZWRlYjYwMQw",
        "translated_title": "Intro to programming", "id": "intro-to-programming"},
        {"kind": "Topic", "hide": false, "internal_id": "xf53d7aa7", "title": "Drawing
        basics", "url": "http://www.khanacademy.org/cs/programming/drawing-basics",
        "node_slug": "drawing-basics", "edit_slug": "", "key": "ag5zfmtoYW4tYWNhZGVteXIUCxIFVG9waWMiCXhmNTNkN2FhNww",
        "translated_title": "Drawing basics", "id": "drawing-basics"}, {[...]
