---
http_interactions:
- request:
    method: get
    uri: https://api.quizlet.com/2.0/search/sets?client_id=QUIZLET_CLIENT_ID&page=1&per_page=25&q=dogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: Ok
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"total_results":5001,"total_pages":201,"page":1,"image_set_count":12,"sets":[{"id":23752218,"url":"http://quizlet.com/23752218/dogs-flash-cards/","title":"Dogs","created_by":"randomsolider23","term_count":12,"created_date":1369449049,"modified_date":1371274979,"has_images":false,"subjects":["Dogs"],"visibility":"public","editable":"only_me","has_access":true,"description":"DOGS,
        DOGS, DOGS!!!!!!!!","lang_terms":"en","lang_definitions":"en","has_discussion":false},{"id":9833328,"url":"http://quizlet.com/9833328/dogs-flash-cards/","title":"dogs","created_by":"shuzoo","term_count":5,"created_date":1328725470,"modified_date":1328725470,"has_images":false,"subjects":["dogs
        and puppys"],"visibility":"public","editable":"only_me","has_access":true,"description":"dogs
        old dogs","lang_terms":"en","lang_definitions":"en","has_discussion":true},{"id":30332159,"url":"http://quizlet.com/30332159/dogs-flash-cards/","title":"Dogs","created_by":"P[...]
