---
http_interactions:
- request:
    method: post
    uri: http://vimeo.com/api/rest/v2
    body:
      encoding: US-ASCII
      string: format=json&full_response=1&method=vimeo.videos.search&page=1&per_page=25&query=education&sort=relevant
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="VIMEO_CONSUMER_KEY", oauth_nonce="6bBhZ2yoR7CxwDAh1Z6HlVXeqTxg9sucA4ceEnM2Q",
        oauth_signature="%2FRGl7ZjerRtjkJXSnIDtSzffXf8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384965853", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '7500'
      X-Ratelimit-Remaining:
      - '7461'
      X-Ratelimit-Reset:
      - '1384968762'
      X-Featureratelimit-Limit:
      - '100'
      X-Featureratelimit-Remaining:
      - '95'
      X-Featureratelimit-Reset:
      - '1384966041'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"generated_in":"0.5021","stat":"ok","videos":{"on_this_page":"25","page":"1","perpage":"25","total":"141384","video":[{"allow_adds":"1","embed_privacy":"anywhere","id":"15395471","is_hd":"1","is_transcoding":"0","license":"0","privacy":"anybody","title":"F L U X","description":"by the courtesy of Plato Art Space (Plato College of higher education)\n\nilhan koman hulda festival, a journey into art and science exhibition\nAyvansaray Caddesi No:33 Balat - \u0130stanbul\n22 September - 31 october\n\nvideo and sound design by Candas Sisman\n\ncommissioned by Plato Art Space (Plato collage of higher education)\n\nthanks to :\u0130lhan Koman, Bager Akbay, Gorkem Sen, Burcu Beslioglu, Plato Art Space (Plato collage of higher education), Koman foundation, Deniz kader\n\nhttp:\[...]
[...]
