---
http_interactions:
- request:
    method: post
    uri: http://vimeo.com/api/rest/v2
    body:
      encoding: US-ASCII
      string: format=json&full_response=1&method=vimeo.videos.search&page=2&per_page=25&query=education&sort=relevant
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="VIMEO_CONSUMER_KEY", oauth_nonce="957oeLWUtXlkhyctoFuJqb8DWJqr3HmlMjaRqa58",
        oauth_signature="fX0VSqjjlNrscO2NRRz7s3ZnaPc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384977210", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '7500'
      X-Ratelimit-Remaining:
      - '7499'
      X-Ratelimit-Reset:
      - '1385063611'
      X-Featureratelimit-Limit:
      - '100'
      X-Featureratelimit-Remaining:
      - '99'
      X-Featureratelimit-Reset:
      - '1384977511'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"generated_in":"0.6832","stat":"ok","videos":{"on_this_page":"25","page":"2","perpage":"25","total":"141459","video":[{"allow_adds":"1","embed_privacy":"anywhere","id":"26869155","is_hd":"1","is_transcoding":"0","license":"0","privacy":"anybody","title":"deconstructing the story \/\/ a monopod tutorial","description":"we have five brand new tutorials coming your way in the next month, all brought to you by canon digital learning center. check out more great tutorials by us and others here:\n\nwww.usa.canon.com\/dlc \n\nupcoming tutorials include;\nEOS lens choice in a commercial film\nhow to achieve and hold focus\nfast turnaround philosophy (SDE) and work flow\ncolor (in camera and post)\n\nthe soundtrack is ascetic junkies \/\/ kansas city roadtrip instrumental. licensed through withetiquette.com","upload_date":"2011-07-25 10:34:26","modified_date":"2013-11-20 13:58:22","number_of_plays":"120159","number_of_likes":"2055","number_of_comments":"123","width":"1280","height":"720","duration":"278","owner":{"display_name":"stillmotion","id":"403001","is_plus":"0","is_pro":"1","is_staff":"0","profileurl":"http:\/\/vimeo.com\/stillmotionfilms","realname":"stillmotion","username":"stillmotionfilms","videosurl":"http:\/\/vimeo.com\/stillmotionfilms\/videos","portraits":{"portrait":[{"height":"30","width":"30","_content":"http:\/\/b.vimeocdn.com\/ps\/527\/016\/5270167_30.jpg"},{"height":"75","width":"75","_content":"http:\/\/b.vimeocdn.com\/ps\/527\/016\/5270167_75.jpg"},{"height":"100","width":"100","_content":"http:\/\/b.vimeocdn.com\/ps\/527\/016\/5270167_100.jpg"},{"height":"300","width":"300","_content":"http:\/\/b.vimeocdn.com\/ps\/527\/016\/5270167_300.jpg"}]}},"tags":{"tag":[{"author":"403001","id":"60250907","normalized":"canondigitalleanringcenter","url":"http:\/\/vimeo.com\/tag:canon+digital+leanring+center","_content":"canon digital leanring center"},{"author":"403001","id":"60250908","normalized":"canon","url":"http:\/\/vimeo.com\/tag:canon","_content":"canon"},{"author":"403001","id":"60250909","normalized":"tutorial","url":"http:\/\/vimeo.com\/tag:tutorial","_content":"tutorial"},{"author":"403001","id":"60250910","normalized":"education","url":"http:\/\/vimeo.com\/tag:education","_content":"education"},{"author":"403001","id":"60250911","normalized":"stillmotion","url":"http:\/\/vimeo.com\/tag:stillmotion","_content":"stillmotion"},{"author":"403001","id":"60250912","normalized":"workshop","url":"http:\/\/vimeo.com\/tag:workshop","_content":"workshop"},{"author":"403001","id":"60250913","normalized":"filmschool","url":"http:\/\/vimeo.com\/tag:film+school","_content":"film school"}]},"cast":{"member":{"display_name":"stillmotion","id":"403001","role":"","username":"stillmotionfilms"}},"urls":{"url":[{"type":"video","_content":"http:\/\/vimeo.com\/26869155"},{"type":"mobile","_content":"http:\/\/vimeo.com\/m\/26869155"}]},"thumbnails":{"thumbnail":[{"height":"75","width":"100","_content":"http:\/\/b.vimeocdn.com\/ts\/177\/847\/177847566_100.jpg"},{"height":"150","width":"200","_content":"http:\/\/b.vimeocdn.com\/ts\/177\/847\/177847566_200.jpg"},{"height":"360","width":"640","_content":"http:\/\/b.vimeocdn.com\/ts\/177\/847\/177847566_640.jpg"}]}},{"allow_adds":"1","embed_privacy":"anywhere","id":"55006097","is_hd":"0","is_transcoding":"0","license":"0","privacy":"anybody","title":"Memorex","description":"SMASH TV presents MEMOREX\n\n\nST[...]
