---
http_interactions:
- request:
    method: post
    uri: http://vimeo.com/api/rest/v2
    body:
      encoding: US-ASCII
      string: format=json&full_response=1&method=vimeo.videos.search&page=1&per_page=25&query=education&sort=relevant
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="CONSUMER_KEY", oauth_nonce="8Kfr75qHCOWsX5hs397I8T0N4qotm4O9ydUg8T8",
        oauth_signature="QoCdzrQtuW6ZNpkTnuxeN2lCJdw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384966467", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"generated_in":"0.0044","stat":"fail","err":{"code":"401","expl":"The consumer key passed was not valid.","msg":"Invalid consumer key"}}
  recorded_at: Wed, 20 Nov 2013 16:54:28 GMT
recorded_with: VCR 2.6.0
