---
http_interactions:
- request:
    method: post
    uri: http://vimeo.com/api/rest/v2
    body:
      encoding: US-ASCII
      string: format=json&full_response=1&method=vimeo.videos.search&page=1&per_page=25&query=education&sort=relevant
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="VIMEO_CONSUMER_KEY", oauth_nonce="uBIGMh5jyGRrVgHOoriME75Edy0R3k79rGCvjXKvnw",
        oauth_signature="oGehsiimVFHwkg56zysZYDda6QY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384981807", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '7500'
      X-Ratelimit-Remaining:
      - '7489'
      X-Ratelimit-Reset:
      - '1385063611'
      X-Featureratelimit-Limit:
      - '100'
      X-Featureratelimit-Remaining:
      - '94'
      X-Featureratelimit-Reset:
      - '1384981970'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"generated_in":"0.7268","stat":"ok","videos":{"on_this_page":"25","page":"1","perpage":"25","total":"141538","video":[{"allow_adds":"1","embed_privacy":"anywhere","id":"15395471","is_hd":"1","is_transcoding":"0","license":"0","privacy":"anybody","title":"F L U X","description":"by the courtesy of Plato Art Space (Plato College of higher education)\n\nilhan koman hulda festival, a journey into art and science exhibition\nAyvansaray Caddesi No:33 Balat - \u0130stanbul\n22 September - 31 october\n\nvideo and sound design by Candas Sisman\n\ncommissioned by Plato Art Space (Plato collage of higher education)\n\nthanks to :\u0130lhan Koman, Bager Akbay, Gorkem Sen, Burcu Beslioglu, Plato Art Space (Plato collage of higher education), Koman foundation, Deniz kader\n\nhttp:\[...]
- request:
    method: get
    uri: https://gdata.youtube.com/feeds/api/videos?alt=json&max-results=25&orderby=relevance&q=education&safeSearch=strict&start-index=1&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdata-User-Country:
      - US
      Content-Type:
      - application/json;charset=UTF-8
      Gdata-Version:
      - '2.1'
      Etag:
      - W/"C08BQng-fip7I2A9Wh5XGUU."
      Last-Modified:
      - Wed, 20 Nov 2013 21:10:53 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '{"version":"1.0","encoding":"UTF-8","feed":{"xmlns":"http://www.w3.org/2005/Atom","xmlns$media":"http://search.yahoo.com/mrss/","xmlns$openSearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns$gd":"http://schemas.google.com/g/2005","xmlns$gml":"http://www.opengis.net/gml","xmlns$yt":"http://gdata.youtube.com/schemas/2007","xmlns$georss":"http://www.georss.org/georss","gd$etag":"W/\"C08BQng-fip7I2A9Wh5XGUU.\"","id":{"$t":"tag:youtube.com,2008:videos"},"updated":{"$t":"2013-11-20T21:10:53.656Z"},"category":[{"scheme":"http://schemas.google.com/g/2005#kind","term":"http://gdata.youtube.com/schemas/2007#video"}],"title":{"$t":"Videos
        matching: education"},"logo":{"$t":"http://www.gstatic.com/youtube/img/logo.png"},"link":[{"rel":"alternate","type":"text/html","href":"https://www.youtube.com"},{"rel":"http://schemas.google.com/g/2005#feed","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/videos?v=2"},{"rel":"http://schemas.google.com/g/2005#batch","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/videos/batch?v=2"},{"rel":"self","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/videos?alt=json&q=education&start-index=1&max-results=25&safeSearch=strict&orderby=relevance&v=2"},{"rel":"service","type":"application/atomsvc+xml","href":"https://gdata.youtube.com/feeds/api/videos?alt=atom-service&v=2"},{"rel":"next","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/videos?alt=json&q=education&start-index=26&max-results=25&safeSearch=strict&orderby=relevance&v=2"}],"author":[{"name":{"$t":"YouTube"},"uri":{"$t":"http://www.youtube.com/"}}],"generator":{"$t":"YouTube
        data API","version":"2.1","uri":"http://gdata.youtube.com"},"openSearch$totalResults":{"$t":1000000},"openSearch$startIndex":{"$t":1},"openSearch$itemsPerPage":{"$t":25},"entry":[{"gd$etag":"W/\"Ck4NQ347eCp7I2A9Wh5XGUw.\"","id":{"$t":"tag:youtube.com,2008:video:y_ZmM7zPLyI"},"published":{"$t":"2012-12-02T11:59:13.000Z"},"updated":{"$t":"2013-11-20T01:29:52.000Z"},"category":[{"scheme":"http://schemas.google.com/g/2005#kind","term":"http://gdata.youtube.com/schemas/2007#video"},{"scheme":"http://gdata.youtube.com/schemas/2007/categories.cat","term":"Education","label":"Education"}],"title":{"$t":"Why
        I Hate School But Love Education||Spoken Word"},"content":{"type":"application/x-shockwave-flash","src":"https://www.youtube.com/v/y_ZmM7zPLyI?version=3&f=videos&app=youtube_gdata"},"link":[{"rel":"alternate","type":"text/html","href":"https://www.youtube.com/watch?v=y_ZmM7zPLyI&feature=youtube_gdata"},{"rel":"http://gdata.youtube.com/schemas/2007#video.related","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/videos/y_ZmM7zPLyI/related?v=2"},{"rel":"http://gdata.youtube.com/schemas/2007#mobile","type":"text/html","href":"https://m.youtube.com/details?v=y_ZmM7zPLyI"},{"rel":"http://gdata.youtube.com/schemas/2007#uploader","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/users/4zccsgn1Nys_sIcOYd2fTw?v=2"},{"rel":"self","type":"application/atom+xml","href":"https://gdata.youtube.com/feeds/api/videos/y_ZmM7zPLyI?v=2"}],"author":[{"name":{"$t":"sulibreezy"},"uri":{"$t":"https://gdata.youtube.com/feeds/api/users/sulibreezy"},"yt$userId":{"$t":"4zccsgn1Nys_sIcOYd2fTw"}}],"yt$accessControl":[{"action":"comment","permission":"allowed"},{"action":"commentVote","permission":"allowed"},{"action":"videoRespond","permission":"moderated"},{"action":"rate","permission":"allowed"},{"action":"embed","permission":"allowed"},{"action":"list","permission":"allowed"},{"action":"autoPlay","permission":"allowed"},{"action":"syndicate","permission":"allowed"}],"gd$comments":{"gd$feedLink":{"rel":"http://gdata.youtube.com/schemas/2007#comments","href":"https://gdata.youtube.com/feeds/api/videos/y_ZmM7zPLyI/comments?v=2","countHint":17636}},"yt$hd":{},"media$group":{"media$category":[{"$t":"Education","label":"Education","scheme":"http://gdata.youtube.com/schemas/2007/categories.cat"}],"media$content":[{"url":"https://www.youtube.com/v/y_ZmM7zPLyI?version=3&f=videos&app=youtube_gdata","type":"application/x-shockwave-flash","medium":"video","isDefault":"true","expression":"full","duration":368,"yt$format":5},{"url":"rtsp://r5---sn-a5m7zu7l.c.youtube.com/CiILENy73wIaGQkiL8-8M2b2yxMYDSANFEgGUgZ2aWRlb3MM/0/0/0/video.3gp","type":"video/3gpp","medium":"video","expression":"full","duration":368,"yt$format":1},{"url":"rtsp://r5---sn-a5m7zu7l.c.youtube.com/CiILENy73wIaGQkiL8-8M2b2yxMYESARFEgGUgZ2aWRlb3MM/0/0/0/video.3gp","type":"video/3gpp","medium":"video","expression":"full","duration":368,"yt$format":6}],"media$credit":[{"$t":"sulibreezy","role":"uploader","scheme":"urn:youtube","yt$display":"sulibreezy","yt$type":"partner"}],"media$description":{"$t":"The
        Latest Spoken Word Video from Suli Breaks. PURCHASE ON ITUNES: http://goo.gl/ZhqVl
        SUBSCRIBE: http://goo.gl/6mf0j TWITTER: http://www.twitter.com/sulibre...","type":"plain"},"media$keywords":{},"media$license":{"$t":"youtube","type":"text/html","href":"http://www.youtube.com/t/terms"},"media$player":{"url":"https://www.youtube.com/watch?v=y_ZmM7zPLyI&feature=youtube_gdata_player"},"media$thumbnail":[{"url":"https://i.ytimg.com/vi/y_ZmM7zPLyI/default.jpg","height":90,"width":120,"time":"00:03:04","yt$name":"default"},{"url":"https://i.ytimg.com/vi/y_ZmM7zPLyI/mqdefault.jpg","height":180,"width":320,"yt$name":"mqdefault"},{"url":"https://i.ytimg.com/vi/y_ZmM7zPLyI/hqdefault.jpg","height":360,"width":480,"yt$name":"hqdefault"},{"url":"https://i.ytimg.com/vi/y_ZmM7zPLyI/sddefault.jpg","height":480,"width":640,"yt$name":"sddefault"},{"url":"https://i.ytimg.com/vi/y_ZmM7zPLyI/1.jpg","height":90,"width":120,"time":"00:01:32","yt$name":"start"},{"url":"https://i.ytimg.com/vi/y_ZmM7zPLyI/2.jpg","height":90,"width":120,"time":"00:03:04","yt$name":"middle"},{"url":"https://i.ytimg.com/vi/y_ZmM7zPLyI/3.jpg","height":90,"width":120,"time":"00:04:36","yt$name":"end"}],"media$title":{"$t":"Why
        I Hate School But Love Education||Spoken Word","type":"plain"},"yt$aspectRatio":{"$t":"widescreen"},"yt$duration":{"seconds":"368"},"yt$uploaded":{"$t":"2012-12-02T11:59:13.000Z"},"yt$uploaderId":{"$t":"UC4zccsgn1Nys_sIcOYd2fTw"},"yt$videoid":{"$t":"y_ZmM7zPLyI"}},"gd$rating":{"average":4.8550715,"max":5,"min":1,"numRaters":102837,"rel":"http://schemas.google.com/g/2005#overall"},"yt$statistics":{"favoriteCount":"0","viewCount":"4121117"},"yt$rating":{"numDislikes":"3726","numLikes":"99111"}},{"gd$etag":"W/\"DEEGR347eCp7I2A9Wh5XGU0.\"","id":{"$t":"tag:youtube.com,2008:video:zDZFcDGpL4U"},"published":{"$t":"2010-10-14T10:56:32.000Z"},"updated":{"$t":"2013-11-20T00:17:06.000Z"},"category":[{"scheme":"http://schemas.google.com/g/2005#kind","term":"http://gdata.youtube.com/schemas/2007#video"},{"scheme":"http://gdata.youtube.com/schemas/2007/categories.cat","term":"News","label":"News
        & Politics"}],"title":{"$t":"RSA Animate - Changing Education Paradigms"},"content":{"[...]
