---
http_interactions:
- request:
    method: post
    uri: http://vimeo.com/api/rest/v2
    body:
      encoding: US-ASCII
      string: format=json&full_response=1&method=vimeo.videos.search&page=1&per_page=25&query=education&sort=relevant
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="VIMEO_CONSUMER_KEY", oauth_nonce="SIBa505wRtydXAtRUFxt6AM9ydjFa7KJ0ztI4ByLjo",
        oauth_signature="bVH9yiEMYkIRR0M8V6kXP4eL160%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386015738", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '7500'
      X-Ratelimit-Remaining:
      - '7471'
      X-Ratelimit-Reset:
      - '1386084993'
      X-Featureratelimit-Limit:
      - '100'
      X-Featureratelimit-Remaining:
      - '99'
      X-Featureratelimit-Reset:
      - '1386016038'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"generated_in":"0.5441","stat":"ok","videos":{"on_this_page":"25","page":"1","perpage":"25","total":"145819","video":[{"allow_adds":"1","embed_privacy":"anywhere","id":"67741947","is_hd":"1","is_transcoding":"0","license":"0","privacy":"anybody","title":"Kynect 'education'","description":"animateme.me.uk\/blog\nfacebook.com\/jensandanna\nhttp:\/\/animateme.me.uk\/blog\/?page_id=1179   - behind the scenes \/ making of stuff\n\nDirection  \/\/\/ Jens & Anna\nProd. Company \/\/\/ Picasso Pictures\nProducer \/\/\/ Richard Price\nCharacter Design \/\/\/ Emanuelle Walker\nBackground Design \/\/\/ Jens & Anna\nAnimators \/\/\/ Frankie Swan, Moira Fox, Carlos Da Faria, Linda Kalcov, Alex Smith, Jimeno Farfan, Simon Bancroft \nAdditional Backgrounds \/\/\/ Shelley Revill\n\nAgency \/\/\/ Doe Anderson\nCreatives \/\/\/ David Vawter, Mike Bagby\nAgency prod \/\/\/ Delane Wise","upload_date":"2013-06-05 12:39:35","modified_date":"2013-12-02 15:13:18","number_of_plays":"16593","number_of_likes":"911","number_of_comments":"39","width":"1280","height":"720","duration":"30","owner":{"display_name":"Jens & Anna","id":"644259","is_plus":"1","is_pro":"0","is_staff":"0","profileurl":"http:\/\/vimeo.com\/jensandanna","realname":"Jens & Anna","username":"jensandanna","videosurl":"http:\/\/vimeo.com\/jensandanna\/videos","portraits":{"portrait":[{"height":"30","width":"30","_content":"http:\/\/b.vimeocdn.com\/ps\/408\/491\/4084915_30.jpg"},{"height":"75","width":"75","_content":"http:\/\/b.vimeocdn.com\/ps\/408\/491\/4084915_75.jpg"},{"height":"100","width":"100","_content":"http:\/\/b.vimeocdn.com\/ps\/408\/491\/4084915_100.jpg"},{"height":"300","width":"300","_content":"http:\/\/b.vimeocdn.com\/ps\/408\/491\/4084915_300.jpg"}]}},"cast":{"member":[{"display_name":"Jens & Anna","id":"644259","role":"","username":"jensandanna"},{"display_name":"Frankie Swan","id":"3836525","role":"animator","username":"frankieswan"},{"display_name":"Picasso Pictures","id":"2818910","role":"prod. Company","username":"picassopictures"},{"display_name":"Emmanuelle Walker","id":"969376","role":"character design","username":"emmanuellewalker"},{"display_name":"Jimeno Farfan","id":"4300131","role":"animator","username":"jimeno"},{"display_name":"Carlos De Faria","id":"469544","role":"animator","username":"user469544"}]},"urls":{"url":[{"type":"video","_content":"http:\/\/vimeo.com\/67741947"}]},"thumbnails":{"thumbnail":[{"height":"75","width":"100","_content":"http:\/\/b.vimeocdn.com\/ts\/440\/661\/440661028_100.jpg"},{"height":"150","width":"200","_content":"http:\/\/b.vimeocdn.com\/ts\/440\/661\/440661028_200.jpg"},{"height":"360","width":"640","_content":"http:\/\/b.vimeocdn.com\/ts\/440\/661\/440661028_640.jpg"},{"height":"720","width":"1280","_content":"http:\/\/b.vimeocdn.com\/ts\/440\/661\/440661028_1280.jpg"}]}},{"allow_adds":"1","embed_privacy":"anywhere","id":"77456946","is_hd":"1","is_transcoding":"[...]
