---
http_interactions:
- request:
    method: get
    uri: https://www.khanacademy.org/api/v1/topic/root
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ka-Api-Response:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"icon_src": "", "domain_slug": null, "relative_url": null, "web_url":
        "", "ka_url": "http://www.khanacademy.orgNone", "translated_standalone_title":
        "Khan Academy", "translated_title": "Khan Academy", "gplus_url": "", "id":
        "x00000000", "old_key_name": "7SATIJAdRLq1gMbKcjtTmLAbeMSrfYZjJOnqUmQu", "hide":
        true, "title": "Khan Academy", "child_data": [{"kind": "Topic", "id": "x29232c6b"},
        {"kind": "Topic", "id": "x7a488390"}, {"kind": "Topic", "id": "xb92336a2"},
        {"kind": "Topic", "id": "x5ca94af1"}, {"kind": "Topic", "id": "x905db83d"},
        {"kind": "Topic", "id": "x54390c7e"}, {"kind": "Topic", "id": "xffde7c31"},
        {"kind": "Topic", "id": "xd1039e22"}, {"kind": "Topic", "id": "x6a4a5e33"},
        {"kind": "Topic", "id": "xf48da0d3"}, {"kind": "Topic", "id": "xcc477d6b"},
        {"kind": "Topic", "id": "xfbfcb2c7"}, {"kind": "Topic", "id": "x68f6d0db"},
        {"kind": "Topic", "id": "x54f76d4b"}], "children": [{"kind": "Topic", "hide":
        false, "internal_id": "x29232c6b", "title": "New and noteworthy", "url": "http://www.khanacademy.org/new-and-noteworthy",
        "node_slug": "new-and-noteworthy", "edit_slug": "", "key": "ag5zfmtoYW4tYWNhZGVteXIUCxIFVG9waWMiCXgyOTIzMmM2Ygw",
        "translated_title": "New and noteworthy", "id": "new-and-noteworthy"}, {"kind":
        "Topic", "hide": false, "internal_id": "x7a488390", "title": "Math", "url":
        "http://www.khanacademy.orgNone", "node_slug": "math", "edit_slug": "", "key":
        "ag5zfmtoYW4tYWNhZGVteXIUCxIFVG9waWMiCXg3YTQ4ODM5MAw", "translated_title":
        "Math", "id": "math"}, {"kind": "Topic", "hide": false, "internal_id": "xb92336a2",
        "t[...]
