---
http_interactions:
- request:
    method: get
    uri: https://www.khanacademy.org/api/v1/topic/cs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ka-Api-Response:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"icon_src": "", "domain_slug": null, "relative_url": "/cs", "web_url":
        "", "ka_url": "http://www.khanacademy.org/cs", "translated_standalone_title":
        "Computer programming", "translated_title": "Computer programming", "gplus_url":
        "", "id": "xffde7c31", "old_key_name": null, "hide": false, "title": "Computer
        programming", "child_data": [{"kind": "Topic", "id": "x05187c3c"}], "children":
        [{"kind": "Topic", "hide": false, "internal_id": "x05187c3c", "title": "Drawing
        and animation", "url": "http://www.khanacademy.org/cs/programming", "node_slug":
        "programming", "edit_slug": "", "key": "ag5zfmtoYW4tYWNhZGVteXIUCxIFVG9waWMiCXgwNTE4N2MzYww",
        "translated_title": "Drawing and animation", "id": "programming"}], "twitter_url":
        "", "translated_description": "Learn the fundamentals of programming on the
        Khan Academy Computer Science platform. Explore programs made by others. Write
        your own programs and share them!", "deleted_mod_time": "2013-07-21T23:11:34Z",
        "logo_image_url": "", "in_knowledge_map": false, "description": "Learn the
        fundamentals of programming on the Khan Academy Computer Science platform.
        Explore programs made by others. Write your own programs and share them!",
        "x_pos": 0.0, "node_slug": "cs", "deleted": false, "facebook_url": "", "backup_timestamp":
        "2013-09-06T16:25:14Z", "render_type": "Subject", "background_image_url":
        "", "background_image_caption": "", "assessment_progress_key": "axffde7c31",
        "topic_page_url": "/cs", "extended_slug": "cs", "slug": "cs", "tags": [],
        "kind": "Topic", "in_topic_browser": true, "sha": "fca71d1c1fbc9dc5f6c1a9c4daed4472063c8ece",
        "standalone_title": "Computer programming", "y_pos": 0.0, "current_revision_key":
        "fca71d1c1fbc9dc5f6c1a9c4daed4472063c8ece", "content_kind": "Topic"}'
  recorded_at: Thu, 21 Nov 2013 17:45:32 GMT
recorded_with: VCR 2.6.0
