---
http_interactions:
- request:
    method: get
    uri: https://www.khanacademy.org/api/v1/topic/root
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ka-Api-Response:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"icon_src": "", "domain_slug": null, "relative_url": null, "web_url":
        "", "ka_url": "http://www.khanacademy.orgNone", "translated_standalone_title":
        "Khan Academy", "translated_title": "Khan Academy", "gplus_url": "", "id":
        "x00000000", "old_key_name": "7SATIJAdRLq1gMbKcjtTmLAbeMSrfYZjJOnqUmQu", "hide":
        true, "title": "Khan Academy", "child_data": [{"kind": "Topic", "id": "x29232c6b"},
        {"kind": "Topic", "id": "x7a488390"}, {"kind": "Topic", "id": "xb92336a2"},
        {"kind": "Topic", "id": "x5ca94af1"}, {"kind": "Topic", "id": "x905db83d"},
        {"kind": "Topic", "id": "x54390c7e"}, {"kind": "Topic", "id": "xffde7c31"},
        {"kind": "Topic", "id": "xd1039e22"}, {"kind": "Topic", "id": "x6a4a5e33"},
        {"kind": "Topic", "id": "xf48da0d3"}, {"kind": "Topic", "id": "xcc477d6b"},
        {"kind": "Topic", "id": "xfbfcb2c7"}, {"kind": "Topic", "id": "x68f6d0db"},
        {"kind": "Topic", "id": "x54f76d4b"}], "children": [{"kind": "Topic", "hide":
        false, "internal_id": "x29232c6b", "title": "New and noteworthy", "url": "http://www.khanacademy.org/new-and-noteworthy",
        "node_slug": "new-and-noteworthy", "edit_slug": "", "key": "ag5zfmtoYW4tYWNhZGVteXIUCxIFVG9waWMiCXgyOTIzMmM2Ygw",
        "translated_title": "New and noteworthy", "id": "new-and-noteworthy"}, {"kind":
        "Topic", "hide": false, "internal_id": "x7a488390", "title": "Math", "url":
        "http://www.khanacademy.orgNone", "node_slug": "math", "edit_slug": "", "key":
        "ag5zfmtoYW4tYWNhZGVteXIUCxIFVG9waWMiCXg3YTQ4ODM5MAw", "translated_title":
        "Math", "id": "math"}, {"kind": "Topic", "hide": false, "internal_id": "xb92336a2",
        "t[...]
- request:
    method: get
    uri: https://www.khanacademy.org/api/v1/topic/new-and-noteworthy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ka-Api-Response:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"icon_src": "", "domain_slug": null, "relative_url": "/new-and-noteworthy",
        "web_url": "", "ka_url": "http://www[...]
- request:
    method: get
    uri: https://www.khanacademy.org/api/v1/topic/new-and-noteworthy/videos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ka-Api-Response:
      - 'true'
    body:
      encoding: UTF-8
      string: '[{"translated_youtube_id": "l-QFT7XNeb4", "relative_url": "/video/sal-on-airtalk-talking-about-his-new-book",
        "has_questions": false, "keywords": "", "ka_url": "http://www.khanacademy.org/video/sal-on-airtalk-talking-about-his-new-book",
        "duration": 1022, "translated_title": "Radio interview: Sal on AirTalk talking
        about his new book", "translated_description_html": "Sal talks with Larry
        Mantle about The One World School House (http://www.amazon.com/dp/1455508381?tag=khanacad-20)",
        "id": "1101921746", "description_html": "Sal talks with Larry Mantle about
        The One World School House (http://www.amazon.com/dp/1455508381?tag=khanacad-20)",
        "title": "Radio interview: Sal on AirTalk talking about his new book", "progress_key":
        "v1101921746", "edit_slug": "edit/v/1101921746", "author_names": [], "deleted_mod_time":
        "2013-07-13T00:03:08Z", "description": "Sal talks with Larry Mantle about
        The One World School House (http://www.amazon.com/dp/1455508381?tag=khanacad-20)",
        "extra_properties": {"original_url": ""}, "node_slug": "v/sal-on-airtalk-talking-about-his-new-book",
        "deleted": false, "backup_timestamp": "2013-09-22T10:35:40Z", "date_added":
        "2012-10-23T16:39:06Z", "download_urls": {"mp4": "http://s3.amazonaws.com/KA-youtube-converted/l-QFT7XNeb4.mp4/l-QFT7XNeb4.mp4",
        "png": "http://s3.amazonaws.com/KA-youtube-converted/l-QFT7XNeb4.mp4/l-QFT7XNeb4.png",
        "m3u8": "http://s3.amazonaws.com/KA-youtube-converted/l-QFT7XNeb4.m3u8/l-QFT7XNeb4.m3u8"},
        "translated_youtube_lang": "en", "kind": "Video", "url": "http://www.youtube.com/watch?v=l-QFT7XNeb4&feature=youtube_gdata_player",
        "ka_user_license": "yt-standard", "global_id": "v1101921746", "sha": "1d57ff6d1167c2bb719d4a5d97f4c152b52097e6",
        "translated_description": "Sal talks with Larry Mantle about The One World
        School House (http://www.amazon.com/dp/1455508381?tag=khanacad-20)", "image_url":
        "https://img.youtube.com/vi/l-QFT7XNeb4/hqdefault.jpg", "youtube_id": "l-QFT7XNeb4",
        "position": 1, "content_kind": "Video", "readable_id": "sal-on-airtalk-talking-about-his-new-book"},
        {"translated_youtube_id": "9p3HNMe-oAI", "relative_url": "/video/math-mechanics-of-thai-banking-crisis",
        "has_questions": false, "keywords": "macroeconomics, thai, currency, crisis",
        "ka_url": "http://www.khanacademy.org/video/math-mechanics-of-thai-banking-crisis",
        "duration": 461, "translated_title": "Math mechanics of Thai banking crisis",
        "translated_description_html": "Going through the mechanics of how a[...]
