---
http_interactions:
- request:
    method: get
    uri: https://api.quizlet.com/2.0/search/sets?client_id=QUIZLET_CLIENT_ID&page=1&per_page=25&q=education
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: Ok
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"total_results":5001,"total_pages":201,"page":1,"image_set_count":1,"sets":[{"id":8572574,"url":"http://quizlet.com/8572574/education-flash-cards/","title":"Education","created_by":"abenijaz","term_count":7,"created_date":1323541144,"modified_date":1323541144,"has_images":false,"subjects":[],"visibility":"public","editable":"only_me","has_access":true,"description":"The
        Sociology of Education, Education and Globalization, Education and Inequality,
        The Sociology of Higher Education, Education Inc. , Education in the 21st
        Century","lang_terms":"en","lang_definitions":"en","has_discussion":true},{"id":10302448,"url":"http://quizlet.com/10302448/education-flash-cards/","title":"Education","created_by":"per5778","term_count":2,"created_date":1330370661,"modified_date":1330370661,"has_images":false,"subjects":["Education"],"visibility":"public","editable":"only_me","has_access":true,"description":"Information
        dealing with the education of children with learning disabilities.","lang_terms":"en","lang_definitions":"en","has_discussion":true},{"id":1457767,"url":"http://quizlet.[...]
