---
http_interactions:
- request:
    method: get
    uri: http://www.schooltube.com/api/v1/video/search/?limit=25&offset=0&orderby=-view_count&term=education
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 02 Dec 2013 20:22:17 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"has_next": true, "limit": 25, "next": "/api/v1/video/search/?order_by=-view_count&limit=25&offset=25&term=education",
        "offset": 25}, "objects": [{"allow_embed": true, "allow_rating": true, "channel_url":
        "/channel/Student Group Travel", "create_date": "November 12, 2009", "create_user":
        "/api/v1/profile/77332/", "description": "Let American Tours & Travel meet
        all your groups travel needs by customizing your next student class trip.
        From theme parks and national monuments, from Music Festivals to performance
        opportunities, our travel experts are ready to create more than just a top-of-the-line
        educational experience we''ll create a lifetimes worth of memories. We Choose
        the Best of the Best for You: We work hard to ensure that every aspect of
        your trip from hotels, transportation, attractions, and venues meet the highest
        standards of excellence and quality. Hotels are routinely visited by members
        of the American Tours & Travel team to check for cleanliness, staff service
        levels, security, convenience and more. When you choose American Tours & Travel,
        you are choosing the best. 1-800-243-4365 Licensed, Bonded & Insured ", "duration":
        102, "edmodo_group": 0, "exclude_from_channel": null, "external_encoded_media_id":
        null, "external_media_id": null, "external_provider_name": null, "id": "54664",
        "is_featured": false, "is_locked": false, "is_organization_approved": true,
        "large_image_url": "http://schooltube-thumbnails.s3.amazonaws.com/c5/c3/dd/df/9c/f6/c5c3dddf-9cf6-c0e5-db1f-898f89c301e2_lg.jpg",
        "mcore_media_id": null, "mcore_payload": "", "mcore_slug": null, "media_hash":
        "c5c3dddf-9cf6-c0e5-db1f-898f89c301e2", "meta_info": "", "moderation_status":
        "Approved", "organization": {"banner": null, "banner_link": null, "city":
        "Orlando", "create_date": "05/14/2009", "display_override": "American Tours
        & Travel,  Orlando FL", "id": "218433", "logo_url": "/static/images/organization/default_logo.png",
        "name": "American Tours & Travel", "rank": 0, "resource_uri": "/api/v1/organization/218433/",
        "state": "Florida", "update_date": "2009-05-14T16:08:36.353000", "url": "/organization/218433",
        "video_count": 20}, "original_keywords": "educational student travel, educational
        school trips, educational school field trips, school educational travel, high
        school educational trips, high school educational tours, fun educational field
        trips, fun and educational field trips, educational field trips, educational
        travel services, educational travel service, educational travel company, educational
        travel companies, educational travel agent, educational travel agency, educational
        travel agencies, educational tours for students and teachers, educational
        student trips, educational group travel, educational fieldtrip, educational
        field trips for kids, educational field trips, educational field trip ideas,
        educational feild trips, education travel tours, education travel services,
        education travel service, education travel company, education travel companies,
        education travel agent, education field trips, education field trip", "post_to_edmodo":
        null, "rank": 0.500167, "rating_count": null, "rating_down": null, "rating_up":
        null, "resource_uri": "/api/v1/video/54664/", "short_url": "http://bit.ly/pk3Sxs",
        "show_on_homepage": true, "thumbnail_status": null, "thumbnail_url": "http://schooltube-thumbnails.s3.amazonaws.com/c5/c3/dd/df/9c/f6/c5c3dddf-9cf6-c0e5-db1f-898f89c301e2.jpg",
        "thumbnails": 0, "thumbnails_url": "/api/v1/video/60f374fdba394a70b4ad/thumbnails/",
        "thumbs_up": 0, "title": "Fun - Educational School Trips - Call American Tours
        & Travel", "update_date": "2012-04-25T12:21:59.624893", "url": "/video/60f374fdba394a70b4ad/Fun
        - Educational School Trips - Call American Tours & Travel", "username": "StudentGroupTravel",
        "view_count": 3513, "vkey": "60f374fdba394a70b4ad"}, {"allow_embed": true,
        "allow_rating": true, "channel_url": "/channel/East Valley Institute of Technology
        (EVIT) in Mesa, Arizona", "create_date": "January 09, 2012", "create_user":
        "/api/v1/profile/258766/", "description": "Students will gain hands-on experience
        in classroom education on how to manage a classroom, facilitate learning centers
        and support the development of the whole child. Students participate in individual
        and group projects, text work, professional development activities and computer
        lab assignments. These skills and knowledge are then implemented at the on-site
        Head Start program.   Upon program completion, students are prepared to work
        in a childcare facility, after-school program, preschool, or pursue additional
        education in this field. Advanced students participate in an internship.   Education
        Professions: For the student who knows he or she wants to become a certified
        teacher, this class will give a jumpstart on training. The college prep curriculum
        includes a survey study of the teaching profession and educational theories
        of learning. Students will conduct research, create lessons, and present concepts
        to peers. They will also research degree programs and apply for scholarships.
        Each student will participate in job shadowing in a school/class of his or
 [...]
